<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashstyles.css">

    <title>Monitoreo</title>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>
  <body>

  <nav class="sidebar" >
        <div class="text">Menu</div>
        <ul>
        <li class="active"><a href="#"><i class="icon ion-md-trending"></i>Analisis y Datos</a></li>
        <li>
            <a href="#" class="feat-btn"><i class="icon ion-md-eye"></i>Vista
              <span class="fas fa-caret-down first"></span>
            </a>
            <ul class="feat-show">
        <li><a href="#"><i class="icon ion-md-speedometer"></i>Controladores</a></li>
        <li><a href="#" ><i class="icon ion-md-eye"></i> Vista Principal</a></li>
        <li><a href="#"><i class="icon ion-md-stats"></i>Linea de Tiempo</a></li>
        <li><a href="#"><i class="icon ion-md-card"></i>Ventas</a></li>
        </ul>
        </li>
        <li>
            <a href="#" class="serv-btn"><i class="icon ion-md-person"></i>Perfil
              <span class="fas fa-caret-down second"></span>
            </a>
            <ul class="serv-show">
  <li><a href="#"><i class="icon ion-md-information"></i>Informacion</a></li>
  <li><a href="#"><i class="icon ion-md-chatbubbles"></i>Mensajes</a></li>
  <li><a href="#"><i class="icon ion-md-filing"></i>Comentarios</a></li>
  <li><a href="#">Cerrar Sesion</a></li>
  </ul>
  </li>
  <li><a href="#"><i class="icon ion-md-cloud"></i>Almacenamiento</a></li>
  <li><a href="#"><i class="icon ion-md-calendar"></i>Calendario</a></li>
  </ul>
  </nav>
      <div class="content">
        <div class="header">
  </div>
  <p>
  </p>
  </div>
  <div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navh">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline position-relative my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">

          </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link disabled " href="#">Perfil</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>

        </div>
      </nav>

      <div id= "content">
          <section>
              <div class="container">
                  <div class="row">
                    <h1 class="font-weight-bold">Bienvenido al Sistema</h1>

                  </div>
                  <div class="col-lg-3">
                    <button class="boton_personalizado">Descagar Reporte</button>
                  </div>

              </div>
          </section>

      </div>
  </div>
  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>